@charset "utf-8";
/* CSS Document */

html, body {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CFA0A0;
	color:#222222;
	height: 100%;
	margin: 0;
}

.header {
	background-color:#ffffff;
	width:100%;
	margin:0px;
}

.container {
	width:900px;
	margin:0px auto;
	padding:10px 0px;
}

.main {
	background-color:#DFDEE0;
}

footer {
	color:#ffffff;
	font-size:.7em;
	text-align:right;
}

p {
	font-size: .9em;
}

h1 {
	font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
	font-size:3.5em;
	color:#804040;
	margin-bottom:-30px;
}

h2 {
	font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
	font-size:1.5em;
	color:#804040;
}

img {
	float:left;
	padding:25px 30px 15px 0px;
}

hr.clear {
	float:none;
	display:none;
}

footer a, footer a:visited {
	color:#ffffff;
}

footer a:hover {
	color:#333333;
}